<!DOCTYPE html>
<html>
  <head>

    <title>
   {%if page.title %}
       {{ page.title }}
   {% else %}
       {{ site.title }}
   {% endif %}

</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
    <link rel="icon" sizes="124x124" href="/_layouts/icon.png">
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <meta itemprop="description" name="description" content="{% if page.description %}{{ page.description | truncate: 160 }}{% else %}{{ site.description | truncate: 160  }}{% endif %}" />
    {% seo %}
    {% include analytics.html %}
  </head>
  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <h1 id="project_title"><a href="/" id="headTitle" style="color:#fff;">Руководство пользователя HubEx</a></h1>
          <h2 id="project_tagline">{{ site.description | default: site.github.project_tagline }}</h2>
          <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
<link rel="stylesheet" href="/assets/tipuesearch/tipuesearch.css">
<form action="/assets/tipuesearch/search.html" style="
    padding: 0px;
">
<div class="tipue_search_group" style="
    display: flex;
    justify-content: flex-end;
    background-color: #000000;
">
<input type="text" name="q" id="tipue_search_input" pattern=".{3,}" title="At least 3 characters" required placeholder = "Поиск по статьям"><button type="submit" class="tipue_search_button" style="
    color: #ccc;
"><div class="tipue_search_icon">&#9906;</div></button>
</div>
</form>
        </header>
    </div>
    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
      </footer>
    </div>
    {% include yandex.html %}

  </body>
</html>
